<div class="page-header">
  <%= link_to @admin_projeto.cliente class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo admin_projeto</h1>
</div>

<%= render 'form' %>
